<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>My Web Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
    </head>
	<body>
        <form class="grid" action="/result" method="POST">
          {% if name %}
            <center>
              <h3 class="let_space greeting">Hello {{name}}, How was your day!!</h3>
            </center> 
          {% endif %}
          <label for="name">Enter your name:</label>
          <input type="text" id="name" name="name">
          <center><input class="file_submit" type="Submit"></center>
        </form>        
        <br>
        <br>
        <br>
    </body>
</html>
