body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#upload-section, #filter-section, #report-section {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#categoryBarChartContainer {
    width: 95%;
    margin-left: 2.5%;
}

#categoryPieChartContainer {
    width: 40%;
    margin-left: 10%;
    margin-top: 3%;
}
